{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
    
        <div class="logo">
            <div class="img">
                <a href="{% url 'home' %}"><img src="{% static 'main/img/logo.png' %}" alt="WR" class="logophoto"></a>
            </div>
            <div class="title">
                <h1 translate="no">WRoom</a>
            </div>
            
        </div>
        {% if request.user.is_authenticated %}
        <div class="reg">
            <a href="{% url 'profile' %}" class="username_head">{{username}}</a>
            {% if user.image %}
            <img src="{{user.image.url}}" alt="" class="prof_post_img">
            {% endif %}
        </div>
        {% else %}
        <div class="reg">
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
            
        </div>
        {% endif %}
        
    </div>

    <aside class="aside">
        <div class="aside_item">
            <img src="{% static 'main/img/home.png' %}" alt="" class="icon"><a href="{% url 'home' %}" class="aside_a">Home</a>
        </div>
        <div class="aside_item">
            <img src="{% static 'main/img/addpost.png' %}" alt="" class="icon"><a href="{% url 'create_post' %}" class="aside_a">Create Post</a>
        </div>
        <div class="aside_item">
            <img src="{% static 'main/img/lup.png' %}" alt="" class="icon"><a href="{% url 'Search_friends' %}" class="aside_a">Find friends</a>
        </div>
        <div class="aside_item">
            <img src="{% static 'main/img/profile.png' %}" alt="" class="icon"><a href="{% url 'profile' %}" class="aside_a">Profile</a>
        </div>
        <div class="aside_item">
            <img src="{% static 'main/img/logout.png' %}" alt="" class="icon"><a href="{% url 'logout' %}" class="aside_a">LogOut</a>
        </div>
        
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>