{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <form name="search" action="{% url 'Search_friends' %}" class="search_box">
            {% csrf_token %}
            {% csrf_token %}
            <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();" placeholder="search" id="search">
            
        </form>
        <i class="fas fa-search"></i>
        <form action="{% url 'friend' %}" method="post" name="sac">
            {% csrf_token %}
            <div id="boxx">
                <input type="hidden" id="username" name="username">
            </div>
        </form>
        
    
    
    </div>
    <script>
        var input = document.getElementById('search').addEventListener('keyup', (search))
        function search() {
            var input, filter, txtValue;

            filter = document.getElementById('search').value.toLowerCase();
            const data = '{{qs_json}}'

            const rdata = JSON.parse(data.replace(/&quot;/g, '"'))

            if (filter != '') {
                for (i = 0; i < rdata.length; i++) {
                    item = rdata[i]
                    txtValue = item['username'];

                    if (txtValue.indexOf(filter) > -1) {
                        let div = document.createElement('div')
                        document.getElementById('username').value = txtValue
                        div.innerHTML = `<button value=${txtValue} name=${txtValue} onclick=add(this)>${txtValue}</button>`

                        boxx.append(div)
                    }
                }
            }
        }
        a = '{{pos}}'

        console.log(a)

        function add(el) {
            a = el.value
            document.getElementById('username').value = a
        }
    
    </script>
</body>
</html>