{% extends 'main/base.html' %}


{% block content %}
<div class="profile">
    {% if user.image %}
    <p><img src="{{ user.image.url }}" alt="Hello" class="profile-img"></p>
    {% endif %}
    <div class="username">
        <h1 class="username">{{user.username}}</h1>
    </div>
    
    <div class="profile-items">
        <p class="item-bio">{{user.bio}}</p>
        <h3 class="item-email">{{user.email}}</h3>
        <h3 class="item-phone">{{user.phone}}</h3>
    </div>
    <a href="{% url 'change' %}" class="change_btn">Edit</a>
    <div class="logout">
        <a href="{% url 'logout' %}" class="logout_btn">LogOut</a>
    </div>
</div>

<div class="friends">
    <form action="{% url 'homechat' %}" method="post" name="aaaa">
        {% csrf_token %}
        {% for i in friends %}
        <button type="submit" name="{{i}}">{{i}}</button>
        {% endfor %}
    </form>
    
</div>


<div class="posts">
    {% for post in posts %}
    <div class="list_area">
        <div class="post">
            <div class="post_title">
                {{post.title}}
            </div>
            {% if post.image %}
            <a href=""><img src="{{post.image.url}}" alt="" class="post_img"></a>
            {% endif %}
            {{post.text}}
            <div class="edit_btn">
                <a href="{% url 'post_edit' pk=post.pk %}" class="change_btn">Edit</a>
            </div>
        </div>
        
        
    </div>
    {% endfor %}
</div>
{% endblock %}