{% extends 'main/base.html' %}


{% block content %}
<div class="profile">
    {% if user.image %}
    <p><img src="{{ user.image.url }}" alt="Hello" class="profile-img"></p>
    {% endif %}
    <div class="username">
        <h1 class="username">{{user.username}}</h1>
    </div>
    
    <div class="profile-items">
        <p class="item-bio">{{user.bio}}</p>
        <h3 class="item-email">{{user.email}}</h3>
        <h3 class="item-phone">{{user.phone}}</h3>
    </div>
    <a href="{% url 'change' %}" class="change_btn">Edit</a>
</div>

<div class="logout">
    <a href="{% url 'logout' %}">LogOut</a>
</div>

<div class="posts">
    {% for post in posts %}
    <div class="profile_post">
        {% if post.image %}
        <a href=""><img src="{{post.image.url}}" alt=""></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}