body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E9E5E5;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 80%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    margin-left: 90px;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 15%;
    background-color: #fff;
    align-items: center;
    position: absolute;
    min-height: 300px;
}

.aside_item {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    width: 150px;
}

.aside_a {
    display: block;
    margin-top: 4px;
    margin-left: 3px;
}

.icon {
    margin-top: 2.5px;
    height: 20px;
    width: 20px;
}

.header {
    margin: 0;
    padding: 0px;
    display: flex;
    background-color: #F87950;
    max-height: 80px;
}
.header h1 {
    color: #fff;
}

.logo {display: flex; width: 210px; margin-left: 73px;}
.title {margin-left: 20px; width: 200px; color: #593507;}
.register {text-align: center;}

.User {
    padding-top: 1%;
    margin-left: auto;
    margin-right: 60px;
    width: 170px;
    display: flex;
}

.username_head {
    margin-right: 10px;
    margin-top: 2.5%;
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
}


.logophoto {
    height: 60px;
    width: 60px;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
}

.img {align-items: center;}
.profile {
    background-color: #fff;
    margin-top: 30px;
    width: 500px;
    height: 600px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.profile_head {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}
.dots {
    height: 20px;
    width: 20px;
    margin-left: 100px;
}

.profile-img {height: 200px; width: 200px; margin-left: auto; margin-right: auto; display: block; border-radius: 100px;}

.profile_items {margin-left: auto; margin-right: auto; display: block;}
    
.username {margin-left: auto; font-size: 70px; margin-right: auto; text-align: center; margin-top: 0; margin-bottom: 10px; color: #7C7C7C; font-size: 50px;}
.item-phone {text-align: center; font-size: 20px; margin-top: 30px;}
.item-email {text-align: center; font-size: 20px; margin-top: 80px;}
.item-bio {text-align: center; font-size: 20px; margin-top: 5px; color: #939393;}
.change_btn {
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    float: right;
    margin-bottom: 10px;
}

.post_img {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.edit_btn {
    padding-bottom: 20px;
}

.list_area {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 32px;
    padding-bottom: 25px;
    padding-right: 32px;
    border-radius: 20px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    min-height: 80px;
    background-color: #fff;
}
.post_other {
    margin-top: 10px;
}

.prof_post_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.prof {
    display: flex;
}

.prof p {
    font-weight: 800;
    font-size: 15px;
    margin-left: 60px
}

.prof_username {
    margin-left: 7px;
    margin-top: 8px;
}
.prof_username a {
    color: #7C7C7C;
    font-size: 30px;
    font-weight: bold;
}



.logout_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #922304;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.post {
    min-height: 150px;
    width: 500px;
    background-color: #fff;
}

.post_other {
    margin-top: 30px;
}

.search_label {
    position: absolute;
    margin-top: 42px;
    margin-left: 10px;
    width: 15px;
    height: 15px;

}

.label_img {
    height: 23px;
    width: 23px;
}

.search {
    width: 400px;
    height: 35px;
    background-color: #D9D9D9;
    margin-top: 35px;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1em;
}
.sear {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.box{
    margin-top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 70px;
    width: 300px;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 3px solid #ffd52d;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 250px;
    height: 70px;
    background: #FF7F50;
    border-radius: 25px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

.posts {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    align-items: center;
}


.search_img {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.search_div {
    margin-top: 10px;
    display: flex;
}

.search_btn {
    margin-left: 100px;
    margin-top: 13px;
    border: none;
    bottom: none;
    background-color: #FF7F50;
    height: 30px;
    width: 30px;
    border-radius: 40px;
}

.best_friends {
    height: 390px;
    width: 680px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.best_title {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 30px;
}

.column {
    margin-top: 11%;
    padding-left: 10px;
    padding-right: 10px;
    height: 48px;
    width: 48px;
}

.best_friend {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.best_friend li {
    color: #7C7C7C;
    text-decoration: none;
    list-style: none;
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
}

.best_friend ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.friends {
    height: 300px;
    width: 580px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.friends h1 {
    text-align: center;
    margin-top: 20px;
}

.friend {
    margin-top: 20px;
    margin-left: 30px;
    width: 100px;
}

.friend_btn {
    border: none;
    font-weight:bold;
    background-color: #fff;
    font-size: 20px;
}

.others_friends {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.profile_post_area {
    margin-top: 20px;
    width: 900px;
    display: flex;
}


.profile_post {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 33px;
}

.profile_post_img {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.profile_post_title {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.profile_post_title h4 {
    text-align: center;
}

.profile_post_date h4 {
    text-align: right;
    margin-right: 5px;
}

.addpost {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: #fff;
    border-radius: 20px;
}
.new_post {
    text-align: center;
}

.add_title {
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.add_text {
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    min-height: 150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.add_image input {
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
}
.form-post {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.create {
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 90px;
    margin-left: 40%;
}

.post_title {
    text-align: center;
}

.post_text_d {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
    font-size: 15px;

}

#id_title {
    margin-left: 15%;
}

.hidden_a {
    display: none;
    margin-top: 20px;
    margin-right: 10px;
}


.Teams {
    margin-top: 200px;
    float: right;
    margin-right: 100px;
    background-color: #fff;
    border-radius: 15px;
    min-width: 200px;
    min-height: 350px;
}

.teams_title {
    text-align: center;
    margin-top: 10px;
}

.Teams_items {
    text-align: center;
    margin-top: 5px;
}

.team {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    min-height: 80vh;
}

.logo_img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid #ffd52d;
    margin-top: 20px;
}

.team_logo {
    margin-top: 20px;
}

.team_title h1 {
    margin-top: 8px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}

.admin {
    color: #FF7F50;
    font-size: 30px;
}

.team_users {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    align-items: center;
}

.user {
    margin-right: 7px;
    margin-left: auto;
    margin-right: auto;
}

.team_stars {
    margin-top: 15px;
    font-size: 30px;
    padding-top: 18px;
}

.team_status {
    margin-top: 15px;
    font-size: 25px;
}

.team_achievements {
    height: 130px;
    width: 170px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ccc;
}

.Room {
    min-height: 500px;
    width: 700px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.room_title {
    text-align: center;
    margin-top: 20px;
}

.ROOM {
    display: flex;
}

.Teams_list {
    position: absolute;
    margin-left: 50px;
    background-color: #fff;
    border-radius: 20px;
    width: 170px;
    min-height: 70px;
    text-align: center;
    margin-top: 100px;
}