body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #e4e3e3;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 80%;
    margin-bottom: 5px;
    float: right;
}

.aside {
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 15%;
    background-color: #fff;
    padding-left: 10px;
    z-index: -1;
    position: absolute;
}

.aside_item {
    margin-top: 10px;
    display: flex;
}

.aside_a {
    display: block;
    margin-top: 4px;
    margin-left: 3px;
}

.icon {
    margin-top: 2.5px;
    height: 20px;
    width: 20px;
}

.header {
    margin: 0;
    padding: 0px;
    display: flex;
    background-color: #FF7F50;
    max-height: 100px;
}

.logo {display: flex; width: 210px;}
.title {margin-left: 20px; width: 200px; color: #593507;}
.register {text-align: center;}

.reg {
    width: 30%;
    padding-top: 1%;
    font-size: 30px;
    margin-left: 73%;
    float: right;
    display: flex;
}

.username_head {
    margin-right: 10px;
    margin-top: 2.5%;
    color: black;
}


.logophoto {
    height: 60px;
    width: 60px;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;

}

.img {align-items: center;}
.profile {
    background-color: #fff;
    margin-top: 20px;
    width: 400px;
    height: 600px;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #FBE8D3;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.profile-img {height: 200px; width: 200px; margin-left: auto; margin-right: auto; display: block;}

.profile_items {margin-left: auto; margin-right: auto; display: block; margin-top: 10px; margin-bottom: 0;}
    
.username {margin-left: auto; font-size: 70px; margin-right: auto; text-align: center; margin-top: 10px; margin-bottom: 10px;}
.item-phone {text-align: center; font-size: 20px;}
.item-email {text-align: center; font-size: 20px;}
.item-bio {text-align: center; font-size: 20px; margin-top: 5px;}
.change_btn {
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    float: right;
    margin-bottom: 10px;
}

.post_img {
    height: 150px;
    width: 150px;
}

.edit_btn {
    padding-bottom: 20px;
}

.list_area {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 32px;
    padding-bottom: 25px;
    padding-right: 32px;
    border-radius: 10px;
    border: 1px solid #FBE8D3;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    min-height: 80px;
    background-color: #fff;
}
.post_other {
    margin-top: 10px;
}

.prof_post_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.prof {
    display: flex;
}

.prof_username {
    margin-left: 7px;
    margin-top: 15px;
}

.logout_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #922304;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.post {
    min-height: 150px;
    width: 500px;
    background-color: #fff;
}

.box{
    margin-top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 70px;
    width: 300px;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 3px solid #ffd52d;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 250px;
    height: 70px;
    background: #FF7F50;
    border-radius: 25px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

.posts {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    align-items: center;
}


.search_img {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.search_div {
    margin-top: 10px;
    display: flex;
}

.search_btn {
    margin-left: 100px;
    margin-top: 13px;
    border: none;
    bottom: none;
    background-color: #FF7F50;
    height: 30px;
    width: 30px;
    border-radius: 40px;
}