body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 250px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.edit {
    width: 350px;
}

.form_input,
.form_btn {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.form_title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form_group {
    position: relative;
    margin-bottom: 32px;
}

.form_label {
    padding: 3px;
    position: absolute;
    top: 0;
    z-index: -1;
    color: #9e9e9e;
}

.form_input {
    width: 100%;
    padding: 0px 0px 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.input {
    border: none;
    outline: none;
}

.form_input:focus {
    border-bottom: 1px solid #E84A5F;

}

.form_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #E84A5F;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.form_btn:focus,
.form_btn:hover {
    background-color: #E84A5F;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}

.login {
    margin-left: 30%
}

.question {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.err {
    transform: scale(0); 
    position: relative;
}

.inp {height: 100px;}

.yet {padding: auto;}


